<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mueckenfang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mueckenfang.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mueckenfang.GameActivity"
            android:label="@string/title_activity_game" >
        </activity>
        <activity
            android:name="com.example.mueckenfang.RundenAnzeiger"
            android:label="@string/title_activity_runden_anzeiger" >
        </activity>
        <activity
            android:name="com.example.mueckenfang.ErgebnisAnzeigerActivity"
            android:label="@string/title_activity_ergebnis_anzeiger" >
        </activity>
    </application>

</manifest>
